---
---

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

@import 'uswds/all';

.usa-logo {
  background-image: url('{{ site.logourl | relative_url }}');
  background-size: 1.6em;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.2em;
}
